doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/tailwind/tailwind-theme.css")
        link(rel="icon" href="favicon.ico")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon.png")
    body.bg-body.text-body.font-body
        .container.mx-auto.px-4


            nav(class="flex flex-wrap items-center justify-between p-4")
                div(class="lg:order-2 w-auto lg:w-1/5 lg:text-center")
                    a(href="#" class="text-xl text-indigo-500 font-semibold" ) Dunder Mifflin
                div(class="block lg:hidden")
                    <button class="flex items-center py-2 px-3 text-indigo-500 rounded border border-indigo-500"><svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg></button>    
                div(class="hidden lg:order-1 lg:block w-full lg:w-2/5")
                    a(href="#" class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700" ) Products
                    a(href="#" class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700" ) Team
                    a(href="#" class="block lg:inline-block mt-4 lg:mt-0 text-blue-900 hover:text-blue-700" ) Customers
                div(class="hidden lg:order-3 lg:block w-full lg:w-2/5 lg:text-right")
                    a(href="#" class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700" ) Blog
                    a(href="#" class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700" ) FAQ
                    a(href="#" class="block lg:inline-block mt-4 lg:mt-0 text-blue-900 hover:text-blue-700" ) Contact

            section(class="py-12 px-4 text-center")
                div(class="w-full max-w-2xl mx-auto")
                    span(class="text-sm font-semibold" ) TAGLINE
                    h2(class="text-5xl mt-2 mb-6 leading-tight font-heading" ) No paper plane can be made without paper
                    a(href="#" class="text-blue-700 hover:underline" ) Learn more &raquo;

            section(class="py-8 px-4")
                div(class="flex flex-wrap -mx-4")
                    div(class="w-full lg:w-1/4 px-4 mb-4 lg:mb-0")
                        div(class="h-full border rounded shadow")
                            div(class="flex items-center justify-between py-3 px-4 border-b")
                                h3(class="text-lg font-heading" ) Income
                                span(class="py-1 px-3 text-sm text-white font-semibold bg-green-500 rounded-full" ) Monthly
                            
                            div(class="flex flex-col p-4")
                                h3(class="text-3xl mb-3 font-heading font-semibold" ) 108,200
                                span Total income
                                span(class="text-green-500" ) 82%
                    
                    div(class="w-full lg:w-1/4 px-4 mb-4 lg:mb-0")
                        div(class="h-full border rounded shadow")
                            div(class="flex items-center justify-between px-4 py-3 border-b")
                                h3(class="text-lg font-heading" ) Orders
                                span(class="py-1 px-3 text-sm text-white font-semibold bg-green-500 rounded-full" ) Monthly
                            
                            div(class="flex flex-col p-4")
                                h3(class="text-3xl mb-3 font-heading font-semibold" ) 128,430
                                span New orders
                                span(class="text-green-500" ) 32%
                    
                    div(class="w-full lg:w-1/4 px-4 mb-4 lg:mb-0")
                        div(class="h-full border rounded shadow")
                            div(class="flex items-center justify-between px-4 py-3 border-b")
                                h3(class="text-lg font-heading" ) Visits
                                span(class="py-1 px-3 text-sm text-white font-semibold bg-green-500 rounded-full" ) Monthly
                            
                            div(class="flex flex-col p-4")
                                h3(class="text-3xl mb-3 font-heading font-semibold" ) 81,248
                                span New visits
                                span(class="text-green-500" ) 24%
                    
                    div(class="w-full lg:w-1/4 px-4 mb-4 lg:mb-0")
                        div(class="h-full border rounded shadow")
                            div(class="flex items-center justify-between px-4 py-3 border-b")
                                h3(class="text-lg font-heading" ) Conversions
                                span(class="py-1 px-3 text-sm text-white font-semibold bg-red-500 rounded-full" ) Today
                            
                            div(class="flex flex-col p-4")
                                h3(class="text-3xl mb-3 font-heading font-semibold" ) 7%
                                span Purchased more than once
                                span(class="text-red-500" ) 82%

            footer(class="flex flex-wrap items-center justify-between p-4")
                div(class="w-full lg:w-auto lg:mr-6 mb-4 lg:mb-0 text-center" ) &copy 2019 Dunder Mifflin

                div(class="flex flex-col lg:flex-row items-center w-full lg:w-auto")
                    div(class="mx-auto lg:mx-0 lg:ml-auto")
                        a(class="inline-block mt-0 text-blue-900 hover:text-blue-700" href="#" ) Products
                        a(class="inline-block mt-0 ml-8 text-blue-900 hover:text-blue-700" href="#" ) Team
                        a(class="inline-block mt-0 ml-8 text-blue-900 hover:text-blue-700" href="#" ) Customers

                    div(class="flex justify-center mt-4 lg:mt-0 lg:ml-8")
                        img(src="placeholders/icons/message.svg" alt="" class="w-6 h-6 mr-6" )
                        img(src="placeholders/icons/share.svg" alt="" class="w-6 h-6" )